<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
</head>
<body>
    <h1>Add a product</h1>
    <form action="/products/<%= product._id %>" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="<%= product.name %>">
        <label for="name">Brand</label>
        <input type="text" name="brand" id="brand" value="<%= product.brand %>">
        <label for="name">Color</label>
        <input type="text" name="color" id="color" value="<%= product.color %>">
        <label for="name">Price</label>
        <input type="number" name="price" id="price" value="<%= product.price %>">
        <label for="category">Category</label>
        <select name="category" id="category">
            <option value="" selected disabled>- Option -</option>
            <option value="Baju" <%= product.category == 'Baju' ? 'selected' : '' %>>Baju</option>
            <option value="Celana" <%= product.category == 'Celana' ? 'selected' : '' %>>Celana</option>
            <option value="Jaket" <%= product.category == 'Jaket' ? 'selected' : '' %>>Jaket</option>
            <option value="Aksesoris" <%= product.category == 'Aksesoris' ? 'selected' : '' %>>Aksesoris</option>
        </select>
        <button type="submit">Save</button>
    </form>
</body>
</html>